# App
PORT=3000
NODE_ENV=development
JWT_SECRET=jwt-secret
JWT_ACCESS_TOKEN_EXPIRES_IN=3600
JWT_REFRESH_TOKEN_EXPIRES_IN=604800

# Db
DB_HOST=localhost
DB_PORT=5432
DB_USER=db_user
DB_PASSWORD=db_password
DB_NAME=skillswap
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=superpassword
POSTGRES_DB=postgres
ADMIN_EMAIL=admin@admin.ru
ADMIN_PASSWORD=admin1234

# Jwt
JWT_SECRET=your-super-secret-jwt-key
JWT_EXPIRES_IN=1h
JWT_REFRESH_SECRET=refresh-your-super-secret-jwt-key
JWT_REFRESH_EXPIRES_IN=7d

# Cors
CORS_ORIGIN='*'
