# App
PORT=3000
NODE_ENV=development
JWT_SECRET=jwt-secret
JWT_ACCESS_TOKEN_EXPIRES_IN=3600
JWT_REFRESH_TOKEN_EXPIRES_IN=604800

# Db
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=db-password
DB_NAME=skillswap
ADMIN_EMAIL=admin@email.com
ADMIN_PASSWORD=admin-password